.deswa{
     background-image: url(../img/deswa.png);
     background-size: cover;
     background-position: center;
     background-repeat: no-repeat;
     padding-top:118px ;
     padding-bottom: 118px;
}
.deswa h3{font-family: var(--font-family);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    margin-bottom: 35px;
}
.deswa h2 {
    max-width: 720px;
    width: 100%;
    margin: 0 auto;
    font-family: var(--third-family);
font-weight: 700;
font-size: 80px;
line-height: 100%;
text-align: center;
color: #fff;
margin-bottom: 30px;
}
.deswalink {
    font-family: var(--font-family);
font-weight: 700;
font-size: 14px;
letter-spacing: 0.1em;
text-transform: uppercase;
text-decoration: underline;
text-decoration-skip-ink: none;
color: #fff;
display: flex;
align-items: center;
justify-content: center;
}
@media(max-width:800px){
    .deswa h2 {
        max-width: 690px;
        width: 100%;
        font-weight: 700;
        font-size: 61px;
        line-height: 100%;
        margin-bottom: 30px;
    }
}
@media(max-width:600px){
    .deswa {
        padding-top: 72px;
        padding-bottom: 87px;
    }
    .deswa h2 {
        max-width: 690px;
        width: 100%;
        font-weight: 700;
        font-size: 50px;
        line-height: 100%;
        margin-bottom: 30px;
    }
    .deswalink {
        font-size: 11px;
    }
    .deswa h3 {
        font-size: 12px;
        margin-bottom: 20px;
    }
}
@media(max-width:375px){
    .deswa h2{
        max-width: 304px;
        width: 100%;
font-weight: 700;
font-size: 40px;
line-height: 100%;
text-align: center;
color: #fff;
    }
    .deswa h3{
        font-family: var(--font-family);
font-weight: 700;
font-size: 12px;
letter-spacing: 0.1em;
text-transform: uppercase;
text-align: center;
color: #fff;
margin-bottom: 43px;
    }
    .deswa a{
        font-family: var(--font-family);
font-weight: 700;
font-size: 12px;
letter-spacing: 0.1em;
text-transform: uppercase;
text-decoration: underline;
text-decoration-skip-ink: none;
text-align: center;
color: #fff;
    }
    .deswa {
        padding-top: 46px;
        padding-bottom: 46px;
    }
}