.header__top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    padding: 8px 40px;
}
.header__top p{
    font-family: var(--font-family);
font-weight: 400;
font-size: 14px;
line-height: 170%;
text-align: center;
color: #fff;
}
.header__top p a{
    color: #fff;
    font-weight: 500;
}
.header__bottom{
    padding: 16px 40px 19px;
    
}
.header__bottom nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__bottom nav ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
.header__bottom nav ul li {
    font-family: var(--font-family);
font-weight: 700;
font-size: 13px;
letter-spacing: 0.1em;
text-transform: uppercase;
color: #000;
display: flex;
align-items: center;
justify-content: center;
}
.header__bottom nav ul .navlink {
    font-family: var(--font-family);
font-weight: 700;
font-size: 13px;
letter-spacing: 0.1em;
text-transform: uppercase;
color: #000;
display: flex;
align-items: center;
justify-content: center;
text-decoration: none;
}
.modal{
    padding: 30px;
    display: none;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: rgb(0, 0, 0);
    color: #fff;
    align-items: flex-start;
    z-index: 5;
}

.modal li {
    margin-bottom: 10px;
    font-size: 30px;
}

.modal a {
    margin-bottom: 10px;
    font-size: 30px;
    color: #fff;
    text-decoration: none;
}
.modal .navlink{
    color: #fff;
    text-decoration: none;
    margin-bottom: 10px;
    font-size: 30px;
}
.show__modal{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.burger{
    font-size: 30px;
    display: none;
}
.mobile__nav{
    display: none;
}
.close{
    font-size: 40px;
}
@media(max-width:1000px){
    .header__bottom nav ul li {
        font-size: 11px;
    }
    .logo {
        width: 120px;
    }
    .header__bottom nav ul .navlink {
        font-size: 11px;
    }
    .header__bottom nav ul {
        gap: 10px;
    }
    .header__top p {
        font-size: 12px;
    }
}
@media(max-width:800px){
    .bagimg{
        width: 32px;
    }
    .header__bottom nav ul li {
        font-size: 9px;
        font-weight: 600;
    }
    .header__bottom nav ul .navlink {
        font-size: 9px;
        font-weight: 600;
        
    }
    .logo {
        width: 105px;
    }
    .header__top p {
        font-size: 10px;
    }
}
@media(max-width:700px){
    .header__bottom nav ul {
        gap: 6px;
    }
    .header__bottom {
        padding: 10px 10px 17px;
    }
    .header__top {
        padding: 8px 10px;
    }
    .bagimg {
        width: 31px;
    }
    .logo {
        width: 100px;
    }
    
}
@media(max-width:600px){
    .header__bottom nav{
        display: none;
    }
    .burger{
        display: flex;
    }
    .header__top {
        padding: 4px 10px;
    }
    .mobile__nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}
@media(max-width:400px){
    .header__top p {
        font-size: 8px;
    }
    .header__top {
        padding: 2px 10px;
    }
}



